<ion-view hide-nav-bar="true">
  <ion-content>
    <ion-scroll direction="y" style="height: 400px;">
      <ion-list style="height: 5000px;">
        <ion-item><p>Best BSSID: {{bssid}}</p></ion-item>
        <ion-item><p>My BT address: {{btAddress}}</p></ion-item>
        <ion-item><p>BT peers:</p></ion-item>
        <ion-item ng-repeat="btPeer in btPeers"><p>{{btPeer.address}}</p></ion-item>
        <ion-item><p>BT LE peers:</p></ion-item>
        <ion-item ng-repeat="btLePeer in btLePeers"><p>{{btLePeer}}</p></ion-item>
        <ion-item><p>Wifi Info:</p></ion-item>
        <ion-item ng-repeat="wifiString in wifiInfoStrings">{{wifiString}}</p></ion-item>
        <ion-item><button class="button button-calm" ng-click="refresh()">Refresh</button></ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
