<ion-view hide-nav-bar="true">
  <ion-content>
    <div>
      <div class="col text-center">
        <div ng-if="user">
          <img ng-if="user.photo" ng-attr-src="{{user.photo}}"/>
          <h1>Terve {{user.name}}!</h1>
          <button class="button button-calm" ng-click="logout()">
            Kirjaudu ulos
          </button>
        </div>
        <div ng-if="!user">
          <a ng-click="login()"><img src="/img/login-with-facebook.png" width="154" height="22"/></a>
          <h1>or</h1> 
          <form ng-submit="setNickname(nickname)">
            <label class="item item-input">
              <input type="text" placeholder="Valitse nimimerkki" ng-model="nickname"/>
            </label>
            <button type="submit" class="button button-calm" ng-if="nickname.length > 0">
              Kirjaudu
            </button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
