<ion-view view-title="Welcome">
  <ion-content>
    <div>
      <div class="col text-center">
        <a ng-click="login()"><img src="/img/login-with-facebook.png" width="154" height="22"/></a>
        <h1>or</h1> 
        <label class="item item-input">
          <input type="text" placeholder="Select a nick name" ng-model="nickname"/>
        </label>
        <button class="button button-calm" ng-if="nickname.length > 0" ng-click="setNickName(nickname)">
          Submit
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
