<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Login tab -->
  <ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/welcome">
    <ion-nav-view name="tab-welcome"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Laiva" icon-off="ship" icon-on="ship" href="#/tab/ship">
    <ion-nav-view name="tab-ship"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Ystävät" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Lähi" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/nearby">
    <ion-nav-view name="tab-nearby"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Kartta" icon-off="ship" icon-on="ship" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Langaton" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/wireless">
    <ion-nav-view name="tab-wireless"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Mock" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/mock">
    <ion-nav-view name="tab-mock"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Generate Images (takes a while)" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/generateImages">
    <ion-nav-view name="tab-generateImages"></ion-nav-view>
  </ion-tab>
</ion-tabs>
